{{#each projects}}
    <table style="border: 1px solid black">
        <tr>
            <th>Project Name</th>
            <td>{{this.name}}</td>
        </tr>

        <tr>
            <th>Project ID</th>
            <td>{{this.pid}}</td>
        </tr>


        <tr>
            <th>Project Description</th>
            <td>{{this.description}}</td>
        </tr>

        <tr>
            <th>Founder</th>
            <td>{{this.founder}}</td>
        </tr>

        <tr>
            <th>Status</th>
            <td>{{this.status}}</td>
        </tr>
    </table>
    <br />
{{/each}}