<table style="border: 1px solid black">
    <tr>
        <th>Project Name</th>
        <td>{{project.name}}</td>
    </tr>

    <tr>
        <th>Project ID</th>
        <td>{{project.pid}}</td>
    </tr>


    <tr>
        <th>Project Description</th>
        <td>{{project.description}}</td>
    </tr>

    <tr>
        <th>Founder</th>
        <td>{{project.founder}}</td>
    </tr>

    {{#if members}}
        <tr>
            <th>Members</th>
            <td>
                {{#each members}}{{this.name}}{{#unless @last}}, {{/unless}}{{/each}}
            </td>
        </tr>
    {{/if}}

    <tr>
        <th>Status</th>
        <td>{{project.status}}</td>
    </tr>
</table>
<br />